
:global(.modalContent) {
  display: flex;
  flex-direction: column;
  background: #0F2439;
  color: #FFFFFF;
  padding: 2.5rem;
  font-family: 'Helvetica', sans-serif;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.titleContainer {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}

.body {
  display: flex;
  flex-direction: row;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 0.5rem 2rem;
}

.messageBody {
  display: flex;
  font-size: 1rem;
}

.messageBody > a {
  text-decoration: underline;
  color: white;
}

.messageBody a:visited {
  text-decoration: underline;
  color: white;
}

.messageButton {
  align-self: flex-start;
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.socialMediaCTAContainer {
  display: flex;
  background-color: 'white';
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 4em;
  align-items: center;
}

.socialMediaCTAContainer > a {
  text-decoration: none;
  color: inherit;
}

.socialMediaCTAContainer a:visited {
  text-decoration: none;
  color: inherit;
}

.socialIcon {
  display: flex;
  width: 2rem;
  align-items: center;
}

.socialText {
}

.socialCTAColumn {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 2rem
}



