*:focus {
  outline: none;
}


:global(.modalContent) {
  display: flex;
  flex-direction: column;
  background: #0F2439;
  color: #FFFFFF;
  padding: 3rem;
  font-family: 'Helvetica', sans-serif;
  border-radius: 0.75rem;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.titleContainer {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}

.body {
  display: flex;
  flex-direction: row;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 0.5rem 2rem;
}

.messageBody {
  display: flex;
  font-size: 1rem;
}

.messageBody > a {
  text-decoration: underline;
  color: white;
}

.messageBody a:visited {
  text-decoration: underline;
  color: white;
}

.messageButton {
  align-self: flex-start;
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 2rem;
  transition: 200ms;

}

.messageButton:hover {
  border: 1px solid #0F2439;
  color: #0F2439;
  background: white;
  transform: scale(0.9);
}

.socialMediaCTAContainer {
  display: flex;
  background-color: 'white';
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 4em;
  align-items: center;
  transition: all ease 500ms;

}

.socialMediaCTAContainer:hover {
  transform: scale(1.1);
}

a.socialMediaCTAContainer {
  text-decoration: none;
  color: inherit;
}

.socialMediaCTAContainer a:visited {
  text-decoration: none;
  color: inherit;
}

.socialIcon {
  display: flex;
  width: 2rem;
  align-items: center;
}

:global(.closeButton) {
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  transition: 200ms;
}

.closeButton:hover {
  transform: scale(0.9);
}

.socialCTAColumn {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 2rem
}

@media all and (max-width: 1024px) {
  .body {
    flex-direction: column;
  }

  .modalContent {
    padding: 1rem;
  }

  .titleContainer {
    font-size: 3.75vw;
  }

  .socialCTAColumn {
    padding-top: 0
  }

  .closeButton {
    padding-top: 0;
    padding-right: 0;
    width: 1rem;
  }
}

